<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="test">
        <button v-on:click.stop.prevent="say('hi')">click em</button>
    </div>
    <div id="count">
        <button v-on:click="count -=2">add count number</button>
        <p>the count number is {{count}} </p>
    </div>
    <p>testteste===========================testestestest</p>
    <div id="hover">
        <button title="this is tested">test </button>
    </div>
    <script>
        var tt = new Vue({
            el:"#test",
            methods:{
                say: function(message){
                    alert(message);
                }
            }
        });
        new Vue({
            el:"#count",
            data:{
                count:0
            }
        })
    </script>
   
   

</html>