* {
    max-width: auto;
    margin: auto;
    padding: auto;
}

body {
    background-image: linear-gradient(to bottom right, rgb(153, 128, 128), rgb(57, 80, 215));
    height: 1000px;
}

.test {
    color: black
}

table thead tr th {
    border: 1px solid black;
    padding: auto;
    margin: 0;
}

table {
    align-content: center;
    width: 800px;
    position: relative;
}