*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'montserrate',sans-serif;

}
.app{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow-x:hidden ;
}
.button{
    align-items: center;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    padding: 15px 25px;
    background-image: linear-gradient(to right,#CC2E5D,#FF5858);
    border-radius: 8px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;

}
.button:hover{
    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
}
.modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.3);
}
.fade-enter-active,
.fade-leave-active{
    transition:opacity 3s;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border-radius:16px ;
}
.fade-enter,
.fade-leave-to{
    opacity: 0;
}