<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create Modal</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">
        <button class="button" @click="showModal = true">
            show modal
        </button>
        <transition name="fade" appear>
            <div class="modal-overlay" v-if="showModal">

            </div>

        </transition>
        <transition name="slide" appeer>
            <div class="modal" v-if="showModal">
                <h1>senghong</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, vel aliquam. Laboriosam, odio odit.
                    Iste ipsa praesentium illum fugit doloremque? Placeat repellendus qui porro impedit excepturi, velit
                    ea odit facilis?</p>
                <button class="button" @click="showModal=false">
                    Close button
                </button>
            </div>
        </transition>

    </div>
    <script src="app.js"></script>
</body>

</html>