<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue tutorial </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">{{name}} and age is {{age}}
        <h1>{{greeting ('good night ')}}</h1>

        <a v-bind:href="website">visit youtube</a>

        <input type="text" v-bind:value="name">

        <h3 v-html="url"></h3>

        <img src="assets\image\image.jpg" alt="" srcset="">
        
        <p v-if="image"><img :src="image" alt=""></p>
        <p v-else="image"> it is fale </p>
        <h2 v-if="seen"> it is true</h2>

        <span>{{message}}</span>
        
        <button v-on:click="reverMessage">ReverMessage</button>
        <div class="product col-sm-8">
            <h2>{{product}}</h2>
            <img src="./assets/image/image3.jpg" alt="">
        </div>

    </div>
   
    <script src="app.js"></script>
</body>

</html>