<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>vue list</title>
</head>

<body>
    <div id="app-list">
        <ol>
            <li v-for="todoa in todos">
                {{todoa.text}}
            </li>
        </ol>
    </div>
    
    <script src="app.js"></script>

</body>


</html>