<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <button @click="count++">
      Count is: {{count}}
    </button>
  </div>
  <script src="main.js"></script>
</body>

</html>