<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div class="root">
        {{foo}} and
        <li v-for="name in names" v-text="name"></li>
    </div>
    <input type="text" id="input">
    <button id="button">Add name</button>

    <!--  -->
    <br>
    <br>
    <br>
    <div id="put">
        <input type="text" placeholder="enter name" v-model="name"><br><br>
        <input type="text" placeholder="enter age" v-model="age"><br><br>
        <h3>My name is {{name}}</h3>
        <h3>My age is {{age}}</h3>
    </div>
    <!-- computed properties -->
    <div id="com">
        <button type="button" v-on:click="a++">Add Number A</button>
        <button type="button" v-on:click="b++">Add Number B</button>

        <p>Number A_{{a}}</p>
        <p>Number A_{{b}}</p>

        <span>{{numberA}}</span>
    </div>
    <script src="app.js"></script>
</body>

</html>