<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="app.js">
    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>

    <div id="data">
        check1
        <input type="checkbox" id="senghong" value="senghong" v-model="checkme">
        check2
        <input type="checkbox" id="" value="Reaksmey" v-model="checkme">

        <!-- ======== -->
        <br>
        <span>checked me is: {{checkme}}</span>
    </div>
    <!-- ========== -->
    <script>
        new Vue({
            el: '#data',
            data: {
                checkme: []
            }
        })
    </script>
</body>

</html>