<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>props</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        body{
            max-width: 1200px;
            background-color: rgb(157, 215, 251);
            margin: auto;
        }
    </style>
</head>
<body>
    <h2>test props for props</h2>
    <div class="contianer" id="pp">
        <span>{{title}}</span>
        <p>{{message}}</p>

        <div class="row">
            <table class="table table-responsive ">
                <tr class="col-md-12">
                    <th class="col-sm-4">test</th>
                    <th class="col-sm-4">data</th>
                    <th class="col-sm-4">Group</th>
                </tr>
                <tr class="col-md-12">
                    <td class="col-sm-4">1</td> 
                    <td class="col-sm-4">300</td>
                    <td class="col-sm-4">3</td>
                </tr>
            </table>
            <script src="file.js"></script>
        </div>
    </div>
</body>
</html>